body {
    color: #eeeeee;
    font-family: sans-serif;
    max-width: 650px;
    margin: 0 auto;
    /* background-color: bisque; */
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #eeeeee;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
}

header a {
    color: #eeeeee;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    color: #eeeeee;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::placeholder {
    color: #eeeeee98;
    opacity: 1;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    padding: 8px;
    background: #888888;
    color: white;
    border-radius: 10px;
}